goerli/build/
goerli/node_modules/
goerli/src/types/

goerli/.vscode/

goerli/.DS_STORE
goerli/yarn-error.log

mumbai/build/
mumbai/node_modules/
mumbai/src/types/

mumbai/.vscode/

mumbai/.DS_STORE
mumbai/yarn-error.log