ropsten/build/
ropsten/node_modules/
ropsten/src/types/

ropsten/.vscode/

ropsten/.DS_STORE
ropsten/yarn-error.log

mumbai/build/
mumbai/node_modules/
mumbai/src/types/

mumbai/.vscode/

mumbai/.DS_STORE
mumbai/yarn-error.log